@model IEnumerable<PopularTag>

<div class="widget-detail">
    <ul>
        @foreach (var populartags in Model)
        {
          
                <a href="#">@populartags.Title<span></span></a>
        }
    </ul>
</div>